.vscode/
alt/
app/img/
build/
dist/
node_modules/
scripts/
test/

*.zip
*.mp3
*.db*

.babelrc
.eslintignore
.eslintrc
package.json.backup
electron-builder.yml
notes.md
yarn-error.log
