.vscode/
alt/
app/img/
build/
dist/
node_modules/
scripts/
test/

*.zip
*.mp3

.babelrc
.eslintignore
.eslintrc
electron-builder.yml
notes.txt
yarn-error.log
musiccollection.db
musiccollection.db~
